:host {
  display: flex;
  flex-direction: row;
}

#namePosition, #details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#namePosition {
  flex: 1;

  #name {
    font-weight: normal;
  }

  #position {
    font-size: 19px;
  }
}

#details {
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    svg {
      padding-left: 8px;
      height: 16px;
      width: 16px;
    }
  }
}
