$pageMargin: .25in;

* {
  font-family: Calibri, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;

  span {
    font-weight: normal;
    font-size: inherit;
  }
}

h1 {
  font-size: 36pt;
}

h2 {
  font-size: 12pt;
}

h3, li, span {
  font-size: 10pt;
}

// Remove default list styles and add custom bullet points so rendering
// is consistent across browsers and when printed to PDF
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;

  li {
    padding-left: 12px;
    position: relative;

    &::before {
      content: '•';
      position: absolute;
      left: -0.75px;
      top: -1.50px;
      font-size: 13.5pt;
    }
  }
}

body {
  display: flex;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  margin: 0;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 8.5in;
  height: 11in;
  border: 2px solid black;
  margin: 10px 0;
}

.page-contents {
  width: calc(100% - #{$pageMargin} * 2);
  height: calc(100% - #{$pageMargin} * 2);

  display: flex;
  flex-direction: column;

  hr {
    border-color: black;
    margin: 8px 0;
  }
}

// Applies styles to the page box when printing
@page {
  size: letter portrait;
  // Define margin of each printed page
  margin: $pageMargin;
}

// Applies styles only when the page is being printed - overrides the default screen styles during printing.
@media print {
  html, body {
    height: 100%;
  }

  body {
    display: block;
    width: auto;
  }

  app-root {
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;

    .page-contents {
      width: 100%;
      height: 100%;
    }
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }

  app-root {
    background-color: #23272e;
  }

  * {
    border-color: white !important;
    color: white;
  }
}